
@{
    ViewBag.Title = "Cart";
}
@model IEnumerable<_99eStuff.Models.ProductsCartViewModel>

@{
    double sum = 0;
}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <title>Cart || 99eStuff</title>
</head>

<body>

    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(../../Content/img/cart/cart.png) no-repeat scroll center center;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Cart</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <div class="cart-main-area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Id</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                @foreach (var product in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td class="product-thumbnail">@product.ID</td>
                                            <td class="product-name">@product.NameProduct</td>
                                            <td class="product-price"><span class="amount">@product.CurrentPrice</span></td>
                                            <td class="product-remove"><a href="@Url.Action("Remove","AddToCart",product)">X</a></td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                            @foreach (var x in Model)
                            {
                                sum = Convert.ToDouble(x.CurrentPrice) + sum;

                            }
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="buttons-cart">
                                    <a href="@Url.Action("Shop","Home")">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                <div class="cart_totals">
                                    <h2>Cart Totals: $@sum</h2>                                 
                                    <div class="wc-proceed-to-checkout">
                                        <a href="#")>Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- cart-main-area end -->

</body>

</html>